<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.njs.repository.ArcRepository">

    <select id="Arclist" resultType="kr.njs.entity.Articles">
        SELECT * FROM Articles
        ORDER BY arti_created DESC
        LIMIT 200
    </select>

    <select id="findByCategory" resultType="kr.njs.entity.Articles">
        SELECT a.*
        FROM Articles a
                 JOIN Categories c ON a.arti_cate = c.category_id
        WHERE a.arti_cate = #{categoryId}
        ORDER BY arti_created DESC
        LIMIT 150
    </select>

    <select id="searchByCategoryAndKeyword" resultType="kr.njs.entity.Articles">
        SELECT a.*, c.category_name
        FROM Articles a
                 JOIN Categories c ON a.arti_cate = c.category_id
        WHERE a.arti_cate = #{categoryId}
          AND (a.arti_title LIKE CONCAT('%', #{keyword}, '%')
            OR a.arti_content LIKE CONCAT('%', #{keyword}, '%'))
    </select>

    <select id="getArticlesByPublisher" resultType="kr.njs.entity.Articles">
        SELECT * FROM Articles WHERE publisher = #{publisher}
    </select>

</mapper>