<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.njs.repository.SubscriptionRepository">

    <select id="findByUserIdAndUcCate" resultType="kr.njs.entity.Subscription">
        SELECT * FROM Subscriptions
        WHERE user_id = #{userId} AND uc_cate = #{ucCate}
    </select>

    <insert id="insert" parameterType="kr.njs.entity.Subscription">
        INSERT INTO Subscriptions (user_id, uc_cate)
        VALUES (#{user_id}, #{uc_cate})
    </insert>

    <delete id="delete" parameterType="kr.njs.entity.Subscription">
        DELETE FROM Subscriptions
        WHERE user_id = #{user_id} AND uc_cate = #{uc_cate}
    </delete>

    <select id="findByUserId" resultType="java.lang.Integer">
        SELECT uc_cate FROM Subscriptions
        WHERE user_id = #{userId}
    </select>

</mapper>