<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.njs.repository.UserRepository">

    <insert id="Joinuser" parameterType="kr.njs.entity.User">
        INSERT INTO Users (user_name, user_email, user_password, user_birthdate, user_id, user_joined)
        VALUES (#{us_name}, #{us_email}, SHA2(#{us_password},256), #{us_birthdate}, #{us_id}, now())
    </insert>

    <update id="userUpdate">
        UPDATE Users
        SET user_name = #{us_name}, user_email = #{us_email}, user_password = #{us_password}, user_birthdate = #{us_birthdate}
        WHERE user_id = #{us_id}
    </update>

    <select id="findByIdAndPassword" parameterType="map" resultType="kr.njs.entity.User">
        SELECT
            user_id as us_id,
            user_password as us_password,
            user_name as us_name,
            user_email as us_email,
            user_birthdate as us_birthdate,
            user_joined as create_At
        FROM Users
        WHERE user_id = #{us_id} AND user_password = SHA2(#{us_password},256)
    </select>

    <update id="updateLastLogoutTime">
        UPDATE user SET last_logout_time = #{logoutTime} WHERE user_id as us_id = #{userId}
    </update>

    <select id="idIdExists">
        SELECT COUNT(*) FROM Users WHERE user_id = #{id}
    </select>
</mapper>
